  body {
    background-color: #ffffdd;
  }
  hr {

    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
  }
  h1 {
    color: #323edd;
  }
  h3 {
    color: #dc2add;
  }
